#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 40px;
    width: 40px;
    position: relative;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

.path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(231, 217, 186);
}

.brown {
    background-color: rgb(80, 62, 39);
}

.black {
    fill: rgb(0, 0, 0);
}

.white {
    fill: rgb(255, 255, 255);
}